@page "/"

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Country File Nature Finds - Spring 2021</h1>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <h3>
      <a class="@TabStyle(Page.Finds)" href="#" @onclick="@(() => CurrentPage = Page.Finds)">Nature Finds</a>
    </h3>
  </li>
  <li class="nav-item">
    <h3><a class="@TabStyle(Page.FamilyPhotos)" href="#" @onclick="@(() => CurrentPage = Page.FamilyPhotos)">Family Photos</a></h3>
  </li>
  <li class="nav-item">
    <h3><a class="@TabStyle(Page.Checklist)" href="#" @onclick="@(() => CurrentPage = Page.Checklist)">Checklist</a></h3>
  </li>
</ul>

@if (CurrentPage is Page.Finds)
{
  <Finds />
}
else if (CurrentPage is Page.FamilyPhotos)
{
  <FamilyPhotos />
}
else if (CurrentPage is Page.Checklist)
{
  <Checklist />
}

@code
{
  Page CurrentPage { get; set; }

  string TabStyle(Page page) => CurrentPage == page ? "nav-link active" : "nav-link";

}